fastmcp==2.14.5
asyncpg==0.31.0
python-dotenv==1.2.1
httpx==0.28.1
aiosmtplib==5.0.0
redis==7.1.0
langchain==1.2.8
langchain-core==1.2.8
langchain-openai==1.1.7
langsmith==0.6.8
langgraph==1.0.10
langgraph-prebuilt==1.0.8